body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /* width: auto; */
    margin: 0;
    /* background-color: papayawhip; */
}

header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 400px;
    background-color: hsla(227, 100%, 50%);
  }


.logo {
    width: 150px;
    height: 100px;
    margin: 0% 8%;
}

.header {
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      font-size: 1.2em;
      font-weight: bold;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0%;
    flex-wrap: wrap;
}

#profile-pic {
    width: 200px;
    height: 500px;
    margin: 0% auto;
}

h1 {
    margin: 0;
    color: hsla(227, 100%, 50%);
    font-size: 1.5em;
    /* padding: 40px; */
}

h2 {
    color:black;
    margin: 0;
    /* padding: 40px; */
}

h3 {
    font-style: italic;
    margin: 0;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center; 
  align-items: center; 
}

h4 {
    font-size: 1.2em;
    margin: 0;
}

.small-text {
    color: black;
    font-size: 10px;
    margin: 3% auto;
}

.left-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

p {
    display: flex;
}

.right-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 10px 0px;
    /* width: 400px; */
    /* margin-top: 10px; */
}

.right-container>p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: hsla(227, 100%, 50%);
    text-align: center;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown {
    display: none;
  }

  .burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  header nav a:hover {
    color: white;
  }

  .about {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
  
  @media (min-width: 576px) {
      .grid-container {
          display: flex;
          width: 100%;
          height: 100%;
        }
        
        .logo {
            width: 200px;
            height: 100px;
            margin: 0% 8%;
            align-items: center;
        }
        
        #profile-pic {
            width: 300px;
            height: 500px;
            margin: 0% auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .right-container {
            display: flex;
            width: auto;
            justify-content: center;
            align-items: center;
            padding: 40px 0px 10px 0px;
        }
        
        nav {
            display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 0%;
    }
    
    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 400px;
        background-color: hsla(227, 100%, 50%);
    }
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .grid-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        background-color: hsla(227, 100%, 50%);
    }
    
    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        text-align: center; 
        align-items: center; 
        width: 100%;
        padding-right: 2%;
    }
    
    .left-container {
        width: 70%;
        padding: 80px 80px 0px 80px;
    }
    
    .right-container {
        width: 30%;
        padding: 80px;
    }
    
    #profile-pic {
        width: 300px;
        height: 500px;
        margin: 0% auto;
    }
}

@media (max-width: 1200px) {
  .dropdown {
    display: block;
}

  .dropdown-toggle::after {
    display: none;
}

nav {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 0;  
}

header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  background-color: hsla(227, 100%, 50%);
}

.header {
  font-size: 2.0em;
}

.logo {
  width: 150px;
  height: 100px;
  margin: 0% 8%;
  align-items: center;
}
}